extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href="http://goo.gl/rz4xn0" type="button") Clique aqui para baixar o acesso remoto
  br
  a(href="http://goo.gl/99UV26" type="button") Relatórios fiscais (chat online)